@use "sass:color";
@use "variables";
@use "mixins";
//bag,bank
.baggp{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    .btn{
        img{
            width: 36px;
        }
    }
    .btn_bagico{
        position: relative;
        padding: 4px;
        line-height: variables.$line-height-0;
        border-radius: 8px;
        border: 1px solid rgba(variables.$white, 0.2);
        background-color: rgba(variables.$black, 0.1);
        &.current{
            border: 1px solid rgba(variables.$white, 0.5);
            background-color: rgba(variables.$black, 0.4);
        }
        &.ice{
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: radial-gradient(
                    circle at center,
                    rgba(255, 255, 255, 0) 50%,
                    rgb(149 251 255 / 60%) 80%
                );
                background-image: linear-gradient(
                    to top,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(149, 251, 255, .6) 50%,
                    rgba(255, 255, 255, 0) 100%
                );
                background-size: 100% 200%;
                mix-blend-mode: overlay;
                //filter: sepia(1);
                border-radius: 4px;
                border: 1px solid rgba(variables.$white, 0.4);
                animation: icemove 3s linear infinite;
            }
        }
        .absent{
            display: block;
            width: 36px;
            height: 36px;
        }
        .label.show{
            position: absolute;
            top: -8px;
            right: -8px;
            z-index: 1;
            width: 20px;
            height: 20px;
            border-radius: 60px;
            background-color: variables.$white;
            filter: drop-shadow(0px 0px 2px rgba(variables.$black, 0.3));
        }
    }
    .btn_filter{
        position: absolute;
        right: 0;
        padding: 10px;
        line-height: variables.$line-height-0;
        img{
            width: 24px;
            opacity: .6;
        }
    }
}
.bag_coat{
    @include mixins.full_overlay;
    overflow: hidden;
    .utilitybar.back{
        filter: invert(1);
        padding-top: 8px;
        padding-left: 1%;
    }
}
.backpack_wp,
.bankbag_wp{
    @include mixins.quest_lvst;
    z-index: variables.$lv_primary - 2;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 70px;
    .storename{
        //padding: variables.$gap_ss + 4px 0;
        color: variables.$white;
        font-weight: bold;
        .note.input-error{
            font-weight: normal;
        }
    }
}

//992px
@media screen and (max-width: variables.$breakpoint-pad-lg) {
.bag_coat{
    .utilitybar.back{
        padding-left: 0;
    }
}
}// ./992px

//460px
@media screen and (max-width: variables.$breakpoint-mobile){

}// ./460px