@use "sass:color";
@use "variables";
@use "mixins";
//cart/////////////////////////////
.coat.cart_wrap{
    .row-2.container{
        align-items: flex-start;
        margin-top: 44px;
        .inquiry_content{
            margin: 24px 0;
            color: variables.$gray-40;
            font-size: 1.4rem;
        }
        .inquiry-cart.list_item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 12px 0;
            border-top: 1px solid variables.$gray-67;
            &:last-child{border-bottom: 1px solid variables.$gray-67;}
            .images{
                width: 100px;
                margin-right: 24px;
            }
            .neme{ 
                flex: 1;
                font-weight: 700;
            }
        }
        
        .qty{
            width: 100px;
            margin: 12px 0;
            input.spinner{width: 100%; padding: 4px 8px;}
        }
        .btn-delete{
            width: 32px;
            height: 32px;
            margin: 12px 32px;
            a:focus{border-bottom: 0 !important; }
        }
        .col{
            flex: 1;
            margin: 0 2%;
            padding: 0 0 4vw 0;
        }
        .btn.inquiry.con_rowC{
            justify-content: center;
            margin-bottom: 60px;
        }
    }
}
.coat.cart_wrap .container .col input[type="text"], 
.coat.cart_wrap .container .col input[type="number"], 
.coat.cart_wrap .container .col input[type="tel"], 
.coat.cart_wrap .container .col input[type="phone"], 
.coat.cart_wrap .container .col input[type="date"], 
.coat.cart_wrap .container .col input[type="email"], 
.coat.cart_wrap .container .col input[type="password"], 
.coat.cart_wrap .container .col input[type="button"], 
.coat.cart_wrap .container .col textarea {
    margin: 0px 0 0 0;
    width: 100%;
    padding: 12px 8px;
    border: 0;
    border-bottom: 1px solid variables.$gray-80;
    letter-spacing: 1px;
    background: none;    
}

.coat.cart_wrap .container .col textarea {
    height: 135px;
    padding: 12px 8px;
    letter-spacing: 1px;
}

.coat.cart_wrap .container .col select {
    margin: 0 4px 0 0;
    padding: 12px 8px;
    min-width: 80px;
    width: 100%;
    background-image: url(images/product-select.png);
    background-repeat: no-repeat;
    background-position: 100% 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid variables.$gray-80;
    letter-spacing: 1px;
}

.coat.cart_wrap .container .col option {
    padding: 1px 5px;
}

.coat.cart_wrap .container .col select::-ms-expand {
    display: none;
}

.contact-map iframe {
    width: 100%;
    border-width: 0;
    height: 570px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.contact-form-3 {
    margin-right: -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    > div {
        width: calc((100% - 96px));
        margin-right: 10px;
    }
    > div.formSelect {
        width: 126px;
    }
}

.google-machine { margin: 5vh 0;}

//1280px
@media screen and (max-width: variables.$breakpoint-pc-s) {
    .coat.contactus .wrap.full { margin-top: 0;}
    .coat.cart_wrap .row-2.container{
        flex-direction: column;
        .col{
            flex: 100%;
            width: 100%;
        }
    }
}// ./1280px

@media only screen and (max-width: 768px) {
    .contact-form-3 { flex-direction: column; margin-right: 0;}
    .contact-form-3 > div { width: 100% !important;}
}

// 576px
@media only screen and (max-width: variables.$breakpoint-mobile) {
    .coat.cart_wrap .row-2.container .inquiry-cart.list_item .neme{
        flex: auto;
        width: calc(100% - 130px);
    }
}// ./576px